torch>=2.4.1
transformers==4.51.0
datasets==2.21.0
accelerate==0.34.2
peft==0.13.2
trl==0.9.6
scipy
sentencepiece
protobuf
tiktoken
jieba
rouge-chinese
nltk
gradio>=3.36.0
uvicorn
pydantic==1.10.11
fastapi==0.95.1
sse-starlette
matplotlib
jsonlines
optimum
rich
